[run]
source = .
omit =
    */venv/*
    */virtualenv/*
    */.virtualenvs/*
    */migrations/*
    */settings.py
    */wsgi.py
    */asgi.py
    manage.py
    */tests.py
    */test_*.py
    */__pycache__/*
    */node_modules/*
    .coverage
    htmlcov/*
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod

[html]
directory = htmlcov
